<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  {{{body}}}

  {{#if files.length}}
  {{#each files}}    
    <img src="image/{{file.filename}}" alt="">
    <img src="{{file.filename}}" alt="">
    {{file}}
    {{filename}}
    {{file.filename}}
  {{/each}}
{{else}}
  <p>No files ... </p>
{{/if}}
</body>
</html>