<h2>Uploads page</h2>
<br>

<form action="/uploads" method="POST" enctype="multipart/form-data">
  <input type="file" name="file" id="file">  
  <input type="submit" value="submit">
</form>

<br><br>
<hr>

{{!-- {{#if files.length}}
  {{#each files}}    
    <img src="image/{{file.filename}}" alt="">
    <img src="{{file.filename}}" alt="">
    {{file}}
    {{filename}}
    {{file.filename}}

    {{#if file.isImage}}
      <img src="image/{{file.filename}}" alt="">
      <img src="{{file.filename}}" alt="">
      {{file}}
      {{filename}}
      {{file.filename}}
    {{/if}}

  {{/each}}
{{else}}
  <p>No files ... </p>
{{/if}} --}}


<a href="/">Home page</a>